{
  # Git configuration
  gitUserName = "YOUR_NAME";
  gitUserEmail = "your.email@example.com";

  # System configuration
  # hostname = "nixos";
  # timezone = "Europe/Brussels";

  # User configuration
  # username = "antoine";
}
